.hot-products-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons {
  padding: 10px;
}

.hot-products {
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.hot-products > * {
  padding: 0.5rem 2rem;
}

.hot-thumbnail {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.home-gallery {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.home-gallery > * {
  padding: 2rem;
  text-align: center;
}

* {
  text-decoration: none;
}

.card-titles {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-titles > * {
  max-width: 10rem;
}

.visit-store-button {
  padding: 0 !important;
  height: 6rem;
  width: 40rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  background-color: #d3c4e32c;
  /* background-image: url("./../img/pattern.svg"); */
}

.visit-store-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* font-family: 'Courier New', Courier, monospace; */
  color: var(--primary-color);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.712);
  font-size: 2rem;
  border-radius: 8px;
  /* background-color: #d3c4e333; */
  /* backdrop-filter: blur(3px); */
}
