.home-container {
}

.hot-products {
  display: flex;
  justify-content: center;
}

.hot-products > * {
  padding: 2rem;
}

.hot-thumbnail {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.home-gallery {
  display: flex;
  justify-content: center;
}

.home-gallery > * {
  margin: 2rem;
  text-align: center;
}

* {
  text-decoration: none;
}

.card-titles {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-titles > * {
  max-width: 10rem;
}

.visit-store-button {
  height: 6rem;
  width: 30%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  background-image: url("./../img/pattern.svg");
}

.visit-store-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 80%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--primary-color);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.712);
  font-size: 2.5rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.671);
  backdrop-filter: blur(10px);
}


