body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  padding-top: var(--navbar-height);
}

* {
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
}

.home-container{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open-Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open-Sans-bold";
  font-style: bold;
  font-weight: 600;
  src: url("./../fonts/OpenSans-SemiBold.ttf");
}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.phone-message{
  display: none;
}

@media screen and (max-width: 1250px) {

  /* .home-container,.container,.product-container{
    display: none;
  }
  .phone-message{
    display: block;
  } */

}
