.product-container{ 
    display: flex;
    padding: 2rem;
}
.product-image{
    object-fit: initial;
    min-width: 25rem;
}
.product-details{
    margin: 3rem 2rem;
    border-width: 0 0 0 1px;
    border-color: rgba(0, 0, 0, 0.267);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-details > * {
    padding: 0.2rem 1rem;
    margin-top: 0.5rem;
}

.recommended-products{
    padding:0 2rem
}

@media screen and (max-width: 700px) {
    .product-details{
        border: 0;
        margin: 0;
    }
    .product-details > * {
        padding: 0.3rem 0.3rem;
        margin-top: 0.1rem;
    }
    .product-container{
        flex-direction: column;
    }
}
