/* Slideshow */

.slideshow {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 50vh;
  background-size: auto;
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: contain;
  width: 100%;
}

@media screen and (max-width: 500px) {

  .slide {
    height: 20vh;
  }
  
}

/* Buttons */

.slideshowDots {
  text-align: center;

}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: var(--primary-color);
}
