:root {
  --navbar-height: 3rem;
  --primary-color: #8f95d3;
  --secondary-color: #d3c4e3;
  --info-color: #89daff;
  --warn-color: #58504a;
  --gray-color: #e0e0e0;
  --gray-dark: #a8a8a8;
  --gray-darkest: #6f6f6f;
  --light-blue: #697488;
  --secondary-button: #f2f0fd;
  --primary-text-color: #000000cc;
}

.container * {
  border-radius: 2px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
  justify-content: space-around;
}

.basket {
  width: 20vw !important;
}

.products {
  width: 55vw !important;
}

.filters {
  width: 20vw !important;
}

.footer {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 4rem 0;
}

button {
  border: 0;
}

/* navbar styling */
.navbar {
  background-color: var(--primary-color);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: var(--navbar-height);
  z-index: 99;
  /* padding: 0 var(--x-padding); */
}

html:not([data-scroll="0"]) .navbar,
.go-up-button {
  background-color: #8f95d3b2;
  backdrop-filter: blur(10px);
}

.go-up-button {
  display: none;
  bottom: 50px;
  right: 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
  height: 2.5rem;
  width: 2.5rem;
  z-index: 99;
}

html:not([data-scroll="0"]) .go-up-button {
  display: block;
  position: fixed;
}

/* .navbar > .button {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 2.1rem;
  background-color: var(--secondary-color);
  z-index: 1;
  cursor: pointer;
} */

.navbar-logo {
  display: table-cell;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
.card-button {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 2.1rem;
  background-color: var(--secondary-color);
  z-index: 1;
  cursor: pointer;
}

.navigation-items {
  display: table-cell;
  position: absolute;
  margin: 0 auto;
  left: 2rem;
  text-align: center;
  z-index: 100;
  color: white !important;
  text-decoration: none;
  font-weight: bold;
}
.navigation-items span {
  color: #fff;
  padding: 0 0.7rem;
}
.navigation-items span:hover {
  color: var(--info-color);
}

.navbar-logo strong {
  color: #ffffff;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
}
.prev {
  transform: rotate(180deg);
}

.main-text {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: x-large !important;
}

.navbar-logo strong:hover {
  color: var(--secondary-color) !important;
}

.price-text {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}
/* navbar styling */

/* product card styling */

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem;
  max-width: 12rem;
  text-align: center;
  flex-grow: 1; /* Make all items take up equal space */
  flex-basis: 0;
  border-radius: 12px;
  /* padding: 1em;
  border-radius: 8px;
  border: 1px solid #f3f3f3; */
}

.product-thumbnail {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.2rem 0;
  background-color: #fefefe;
  border: 1.18px solid #f3f0fe;
  border-radius: 12px;
}
.product-thumbnail-img{
  max-width: 12em;
}

.product-thumbnail:hover {
  scale: 1.02;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  transition: 0.2s ease-in-out;
}
.product-price {
  color: var(--primary-color);
  font-weight: 600;
  padding: 0.3rem 0;
}
.product-title {
  padding: 0.2rem 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 0.4rem 0;
  width: 100%;
}
.product-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.top-bar-container {
  padding: 0 0.8em;
}
.type-filter-container {
  display: flex;
  overflow-x: auto;
}

/* product card styling */

.toggle-button {
  margin: 1.1rem 0.6rem 1.3rem 0;
  padding: 0.4rem 1.1rem;
  white-space: nowrap;
}

/* checkbox radio styling */
.custom-radio[type="radio"] {
  appearance: none;
  border: 1px solid #d3d3d3;
  width: 1.2rem;
  height: 1.2rem;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.custom-radio[type="checkbox"] {
  appearance: none;
  border: 2px solid var(--gray-color);
  width: 1.2rem;
  height: 1.2rem;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.custom-radio[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  padding: 0;
  content: none;
  border: 0;
}

.custom-radio[type="radio"]:checked::before {
  position: absolute;
  background: transparent;
  accent-color: var(--primary-color);
  border-radius: 100%;
  color: var(--primary-color) !important;
  content: "\00A0\2713\00A0" !important;
  border: 2px solid var(--primary-color);
  transform: rotate(20deg);
  font-weight: 600;
  font-size: 10px;
}
/* checkbox radio styling */

/* filter container styles */
.filter-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
  border-radius: 2px;
}

.filters-title {
  font-size: 13px;
  font-weight: 600;
  color: var(--light-blue);
  border-bottom: 0.5px solid var(--gray-color);
  display: inline-block;
  width: 90%;
}

details > summary {
  list-style-type: "+ ";
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  color: var(--light-blue);
  font-size: 1.2rem;
}

details[open] > summary {
  list-style-type: "- ";
}

.filter-item {
  display: flex;
  padding: 0 0 1rem 0;
}
.filter-body {
  width: 100%;
  height: 15rem;
  padding: 1.1rem 0;
  overflow: scroll;
  overflow-x: hidden;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  border-radius: 2px;
}

.sorting-label {
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}
.filtering-label {
  margin: 0 0 0 0.4rem;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
}

.search-bar {
  width: 100%;
  padding-left: 0.5rem;
  border-radius: 2px !important;
  border-width: thin;
  border-style: solid;
  border-color: var(--gray-color);
  outline: none !important;
  line-height: 1.5rem;
  caret-color: var(--primary-color);
  background-color: transparent;
}

.search-bar:focus {
  border-color: var(--primary-color);
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 0.2rem rgba(143, 149, 211, 0.25);
}

::placeholder {
  color: var(--gray-color);
  font-size: small;
}

input[type="text"] {
  outline: none !important;
}

.form-group {
  display: flex;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 0px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  /* position: relative; */
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.5rem;
  box-shadow: 0 3px 4px 1px rgba(1, 0, 1, 0.15);
  border-radius: 2px !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
  transition: 0.3s ease-in-out;
}

.form-group input:checked + label:before {
  background-color: var(--primary-color) !important;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  width: 3px;
  height: 8px;
  border: 0px solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* .custom-checkbox {
  accent-color: #1f9fc6;
  height: 22px;
  width: 22px;
} */

/* *********************************************************** */

/* *********************************************************** */

/* filter container styles */

/* scrollbar style */
.custom-scrollbar::-webkit-scrollbar-track {
  margin-top: 1rem;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff50;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--gray-color);
}
/* scrollbar style */

/* basket styling */
.basket-container {
  padding: 1.35rem;
  background-color: white;
  max-height: 80vh;
  overflow-y: auto;
  border: 2px solid var(--primary-color);
}

.basket-item {
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-color);
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
.counter-parent {
  grid-area: 1 / 4 / 3 / 7;
}
.price-parent {
  grid-area: 2 / 1 / 3 / 4;
}
.basket-product-name {
  grid-area: 1 / 1 / 2 / 4;
}

.counter-container {
  display: flex;
  justify-content: flex-end;
}

.quantity-button {
  vertical-align: middle;
  background-color: var(--secondary-button);
  color: var(--primary-color);
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 0 !important ;
}

.quantity-button:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}
.counter {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 0 !important ;
  background-color: var(--primary-color);
  font-weight: 600;
  color: white;
}

.basket-button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.basket-button {
  margin-top: 1.35rem;
  padding: 0.9rem 1.5rem;
  /* margin: 1rem; */
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);

  font-weight: 600;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: auto;

  /* flex-direction: "column"; */
}

/* Pills style */

.pills {
  display: flex;
  flex-wrap: wrap;
}

.pill {
  color: var(--primary-color);
  padding: 0.2rem 0.4rem;
  margin: 0 0.4rem 0.2rem 0;
  font-weight: bold;
  background-color: var(--secondary-button);
}

/* Pills style */

/* basket styling */

/* mobile bottom Navigation */
.bottom-navigation {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.355);
  background-color: #ffffff;
  display: none;
  justify-content: space-between;
  /* padding: 10px 0; */
  text-align: center;
}

.bottom-navigation a {
  width: 100%;
}

.bottom-navigation a span {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #666;
  font-size: 16px;
  padding: 10px 0;
  transition: color 0.3s;
}

.bottom-navigation span:hover {
  color: #000;
}

.bottom-navigation span.active {
  color: #fff;
  background-color: var(--primary-color);
  font-weight: bold;
}
/* mobile bottom Navigation */

.mobile-filters {
  display: none;
  /* margin: 1.4rem 0 0.7rem 0; */
  flex-direction: column;
  align-items: end;
}

.quantity-circle {
  background-color: var(--primary-color);
  border-radius: 50%;
  /* clip-path: circle(40%); */
  height: 1.3rem;
  width: 1.3rem;
  padding: 0.3rem;
  text-align: center;
  color: #fff;
  margin-right: 4px;
}

.video-banner {
  width: 100%;
  height: 40vh; /* Set the desired height for your banner */
  overflow: hidden; /* Hide the overflow of the video */
  position: relative;
  margin-bottom: 1rem;
}

.banner-items {
  position: relative;
  top: 18%;
  left: 20%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  color: white;
  text-shadow: 1px 0px 1px black;
}
.banner-items > * {
  padding: 0.5rem;
}
.banner-title {
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  font-weight: 600;
}
.banner-description {
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.banner-items button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-size: large;
  padding: 0.5rem 0.5rem;
}
.banner-items button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.video-banner video {
  width: 100%;
  height: auto; /* Allow the video to maintain its aspect ratio */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.content {
  margin: 0 10%;
}

.main-title {
  padding: 0.2rem 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hide-scroll-bar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* //hide scroll bar */
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .video-banner {
    height: 25vh;
  }
  .content {
    margin: 0 0.5rem;
  }
  .products-container {
    align-content: center;
    justify-content: center;
  }
  .banner-items {
    left: 1%;
  }
  .banner-title {
    font-size: 20px;
  }

  .banner-description {
    font-size: 14px;
  }
  .banner-items button {
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    margin: 0.2rem 0.4rem;
    flex-direction: column-reverse;
  }

  .screen-basket {
    display: none;
  }
  .navbar {
    padding: 1rem;
    height: 1.5rem;
  }

  .navbar > .card-button {
    display: none;
  }
  .basket,
  .products,
  .filters {
    width: 100% !important;
  }
  .mobile-filters {
    display: flex;
  }
  .screen-filters {
    display: none;
  }
  .bottom-navigation {
    display: flex;
  }
  .products {
    margin-top: 1.4rem;
  }
  .navigation-items {
    display: none;
  }
}
