:root {
  --navbar-height: 2.5rem;
  --primary-color: #8f95d3;
  --secondary-color: #d3c4e3;
  --info-color: #89daff;
  --warn-color: #58504a;
  --gray-color: #e0e0e0;
  --gray-dark: #a8a8a8;
  --gray-darkest: #6f6f6f;
  --light-blue: #697488;
  --secondary-button: #f2f0fd;
  --primary-text-color: #000000cc;
}

.container * {
  border-radius: 2px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.container > *:not(.mobile-filters) {
  margin: 1.5rem;
}

.basket {
  width: 20vw !important;
}

.products {
  width: 55vw !important;
}

.filters {
  width: 20vw !important;
}

.footer {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 4rem 0;
}

button {
  border: 0;
}

/* navbar styling */
.navbar {
  background-color: var(--primary-color);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: var(--navbar-height);
  z-index: 99;
  /* padding: 0 var(--x-padding); */
}

html:not([data-scroll="0"]) .navbar,
.go-up-button {
  background-color: #8f95d3b2;
  backdrop-filter: blur(10px);
}

.go-up-button {
  display: none;
  bottom: 50px;
  right: 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
  height: 2.5rem;
  width: 2.5rem;
  z-index: 99;
}

html:not([data-scroll="0"]) .go-up-button {
  display: block;
  position: fixed;
}

.navbar > .button {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 2.1rem;
  background-color: var(--secondary-color);
  z-index: 1;
  cursor: pointer;
}

.navbar-logo {
  display: table-cell;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.navbar-logo strong {
  color: #ffffff;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
}
.prev {
  transform: rotate(180deg);
}

.main-text {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: x-large !important;
}

.navbar-logo strong:hover {
  color: var(--secondary-color) !important;
}

.price-text {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}
/* navbar styling */

/* product card styling */

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem;
  max-width: 8rem;
  text-align: center;
}

.product-thumbnail {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.2rem 0;
  background-color: #fefefe;
  border: 1.18px solid #f3f0fe;
  border-radius: 12px;
}

.product-thumbnail:hover {
  scale: 1.02;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}
.product-price {
  color: var(--primary-color);
  font-weight: 600;
  padding: 0.3rem 0;
}
.product-title {
  padding: 0.2rem 0;
  font-weight: 600;
}
.product-button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 0.2rem 0;
  width: 100%;
}
.product-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.products-container {
  /* padding: 0.4rem; */
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-content: flex-start;
  justify-content: center;
}

/* product card styling */

.toggle-button {
  margin: 1.1rem 0.6rem 1.3rem 0;
  padding: 0.4rem 1.1rem;
}

/* checkbox radio styling */
.custom-radio[type="radio"] {
  appearance: none;
  border: 1px solid #d3d3d3;
  width: 1.6rem;
  height: 1.6rem;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.custom-radio[type="checkbox"] {
  appearance: none;
  border: 2px solid var(--gray-color);
  width: 1.6rem;
  height: 1.6rem;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.custom-radio[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  padding: 0;
  content: none;
  border: 0;
}

.custom-radio[type="radio"]:checked::before {
  position: absolute;
  background: transparent;
  accent-color: var(--primary-color);
  border-radius: 100%;
  color: var(--primary-color) !important;
  content: "\00A0\2713\00A0" !important;
  border: 2px solid var(--primary-color);
  transform: rotate(20deg);
  font-weight: 600;
  font-size: 13px;
}
/* checkbox radio styling */

/* filter container styles */
.filter-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0.8rem 0 1.6rem 0;
  padding: 1.8rem 1.6rem 0.9rem 1.6rem;
  border-radius: 2px;
}

.filters-title {
  font-size: 13px;
  font-weight: 600;
  color: var(--light-blue);
}

.filter-item {
  display: flex;
  padding: 0 0 1rem 0;
}
.filter-body {
  width: 100%;
  height: 9rem;
  padding: 1.1rem 0;
  overflow: scroll;
  overflow-x: hidden;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  border-radius: 2px;
}

.sorting-label {
  margin: 0 0 0 0.9rem;
  cursor: pointer;
}
.filtering-label {
  margin: 0 0 0 0.4rem;
  cursor: pointer;
}

.search-bar {
  padding-left: 1.1rem;
  border-radius: 2px !important;
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-color);
  outline: none !important;
  line-height: 3rem;
}

input[type="text"] {
  outline: none !important;
}

/* input[type="checkbox"] {
  width: 22px !important;
  height: 22px !important;
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.25);
  background: transparent;
  padding: 0;
  border-radius: 2px !important;
} */

/* input[type="checkbox"]:checked:after {
  position: absolute;
  border-radius: 2px !important;
  width: 22px !important;
  height: 22px !important;
  color: white;
  background-color: var(--primary-color) !important;
  accent-color: var(--primary-color) !important;
} */

.form-group {
  display: flex;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 0px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  /* position: relative; */
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.9rem;
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px !important;
  width: 22px !important;
  height: 22px !important;
}

.form-group input:checked + label:before {
  background-color: var(--primary-color) !important;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 3px;
  height: 8px;
  border: 0px solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* .custom-checkbox {
  accent-color: #1f9fc6;
  height: 22px;
  width: 22px;
} */

/* *********************************************************** */

/* *********************************************************** */

/* filter container styles */

/* scrollbar style */
.custom-scrollbar::-webkit-scrollbar-track {
  margin-top: 1rem;
  background-color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--gray-color);
}
/* scrollbar style */

/* basket styling */
.basket-container {
  padding: 1.35rem;
  background-color: white;
  max-height: 19vh;
  overflow-y: auto;
  border: 2px solid var(--primary-color);
}

.basket-item {
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-color);
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
.counter-parent {
  grid-area: 1 / 4 / 3 / 7;
}
.price-parent {
  grid-area: 2 / 1 / 3 / 4;
}
.basket-product-name {
  grid-area: 1 / 1 / 2 / 4;
}

.counter-container {
  display: flex;
  justify-content: flex-end;
}

.quantity-button {
  vertical-align: middle;
  background-color: var(--secondary-button);
  color: var(--primary-color);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 0 !important ;
}

.quantity-button:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}
.counter {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 0 !important ;
  background-color: var(--primary-color);
  font-weight: 600;
  color: white;
}

.basket-button-container {
  display: flex;
  justify-content: flex-end;
}

.basket-button {
  margin-top: 1.35rem;
  padding: 0.9rem 1.5rem;
  /* margin: 1rem; */
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);

  font-weight: 600;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: auto;

  /* flex-direction: "column"; */
}

/* Pills style */

.pills {
  display: flex;
  flex-wrap: wrap;
}

.pill {
  color: var(--primary-color);
  padding: 0.2rem 0.4rem;
  margin: 0 0.4rem 0.2rem 0;
  font-weight: bold;
  background-color: var(--secondary-button);
}

/* Pills style */

/* basket styling */

/* mobile bottom Navigation */
.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  display: none;
  justify-content: space-around;
  padding: 10px 0;
}

.bottom-navigation span {
  text-decoration: none;
  color: #666;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s;
}

.bottom-navigation span:hover {
  color: #000;
}

.bottom-navigation span.active {
  color: #000;
  background-color: #0079bf;
  font-weight: bold;
}
/* mobile bottom Navigation */

.mobile-filters {
  display: none;
  margin-top: 1.4rem;
  margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 1rem;
    flex-direction: column-reverse;
  }

  .navbar {
    padding: 1rem;
    height: 1.5rem;
  }

  .navbar > .button {
    display: none;
  }
  .basket,
  .products,
  .filters {
    width: 100% !important;
  }
  .mobile-filters {
    display: block;
  }
  .screen-filters {
    display: none;
  }
  .bottom-navigation{
    display: flex;
  }
}
